
#drawC {
    color: #4cae4c;
}
#clear {
    color: #337ab7;
}

#save {
    color: #337ab7;
}
section {
    margin: auto;
    padding: 4px;
}
#one{
    width: 84%;
    height: 420px;
    background: lightgrey;
    float: left;
    border-radius: 15px;
    margin-bottom: 11px;
}
#two{
    margin-bottom: 11px;
    height: 420px;
    width: 200px;
    background: #337ab7;
    border-radius: 15px;
    float: right;
}
.panel-footer{
    color: #337ab7;

}
#uah{
    float: right;
    height: 100px;
    width: 220px;
    padding: 10px;
    margin-left: 35px;
    margin-right: 14px;
    margin-top: 8px;
    margin-bottom: 0px;
}